@model IEnumerable<WebAppTacos.Models.Tilaukset>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

@{
    ViewBag.Title = "Index";
}

@*JQuery joka suoritetaan kun klikataan getOrderId-luokan mukaista elementtiä, muokkaus*@
@section scripts {
    <script type="text/javascript">
        $(function () {
            $(".getOrderId").click(function () {
                let orderId = $(this).data("tilausid");
                console.log("Klikkasit tilausnumeroa: " + orderId);
                var url = "/Tilaukset/_ModalEdit/?id=" + orderId;
                console.log(url);

                $("#orderEdit").append(" <b> Avataan tilauksen " + orderId + " muokkausikkuna...</b>");

                var $detailDivEdit = $("#orderEdit");
                $.get(url, function (data) {
                    $detailDivEdit.replaceWith(data);
                    $("#ModalOrderEdit").modal("show");
                });
            });
        });
        @* JQuery joka suoritetaan kun klikataan delOrderId - luokan mukaista elementtiä, poisto *@
        $(function () {
            $(".delOrderId").click(function () {
                let orderId = $(this).data("tilausid");
                console.log("Klikkasit poistettavaa tilausnumeroa: " + orderId);
                var url = "/Tilaukset/_ModalDelete/?id=" + orderId;
                console.log(url);

                $("#orderDelete").append(" <b> Avataan tilauksen " + orderId + " poistoikkuna...</b>");

                var $detailDivDel = $("#orderDelete");
                $.get(url, function (data) {
                    $detailDivDel.replaceWith(data);
                    $("#ModalOrderDelete").modal("show");
                });
            });
        });
        $(function () {
            $(".creNewOrder").click(function () {
                let orderId = $(this).data("tilausid");
                console.log("Klikkasit uuden tilauksen luontipainiketta: " + orderId);
                var url = "/Tilaukset/_ModalCreate/?id=";
                console.log(url);

                $("#orderCreate").append(" <b> Avataan tilauksen luonti-ikkuna...</b>");

                var $detailDivCreate = $("#orderCreate");
                $.get(url, function (data) {
                    $detailDivCreate.replaceWith(data);
                    $("#ModalOrderCreate").modal("show");
                });
            });
        });
        $(function () {
            $(".showOrderDetails").click(function () {
                let orderId = $(this).data("tilausid");
                console.log("Klikkasit tilauksen" + orderId + " tilaustietojen näyttöpainiketta: ");
                var url = "/Tilaukset/_ModalDetails/?id=" + orderId;
                console.log(url);

                $("#orderDetails").append(" <b> Avataan tilauksen tiedot...</b>");

                var $detailDivDet = $("#orderDetails");
                $.get(url, function (data) {
                    $detailDivDet.replaceWith(data);
                    $("#ModalOrderDetails").modal("show");
                });
            });
        });
    </script>
    }

<h1 id="Vihreä">TILAUKSET</h1>

<p>
    <button class="creNewOrder btn btn-success">
        @*<a class="btn btn-success" href="~/Tilaukset/Create/">*@
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z" />
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
            </svg> Lisää uusi tilaus
    </button>
    @*<a class="btn btn-outline-success" href="~/Tilaukset/OrderSummary/">Tilausten yhteenveto</a>*@
    <a class="btn btn-outline-success" href="~/Tilaukset/TilausOtsikot/">Tilausten yhteenveto</a>
</p>

<div id="orderEdit"></div> @*paikkamerkki modaalille*@
<div id="orderDelete"></div>
<div id="orderCreate"></div>
<div id="orderDetails"></div>

<table class="table-bordered">
    <tr class="table-success">
        <th>@Html.DisplayNameFor(model => model.TilausID)</th>
        <th>@Html.DisplayNameFor(model => model.Asiakkaat.Etunimi)</th>
        <th>@Html.DisplayNameFor(model => model.Asiakkaat.Sukunimi)</th>
        <th>@Html.DisplayNameFor(model => model.Toimitusosoite)</th>
        <th>@Html.DisplayNameFor(model => model.Postinumero)</th>
        <th>@Html.DisplayNameFor(model => model.Tilauspvm)</th>
        <th>@Html.DisplayNameFor(model => model.Toimituspvm)</th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>@Html.DisplayFor(modelItem => item.TilausID)</td>
    <td>@Html.DisplayFor(modelItem => item.Asiakkaat.Etunimi)</td>
    <td>@Html.DisplayFor(modelItem => item.Asiakkaat.Sukunimi)</td>
    <td>@Html.DisplayFor(modelItem => item.Toimitusosoite)</td>
    <td>@Html.DisplayFor(modelItem => item.Postinumero)</td>
    <td>@Html.DisplayFor(modelItem => item.Tilauspvm)</td>
    <td>@Html.DisplayFor(modelItem => item.Toimituspvm)</td>
    <td>
        @*<a class="btn btn-success" href="~/Tilaukset/Edit/@item.TilausID">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
            </a>*@

        <button class="getOrderId btn btn-success" data-tilausid="@item.TilausID">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
        </button>

        <button class="showOrderDetails btn btn-success" data-tilausid="@item.TilausID">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg>
        </button>

    <button class="delOrderId btn btn-success" data-tilausid="@item.TilausID">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
        </svg>
    </button>
    </td>
</tr>
}
</table>
<a class="btn btn-success" href="~/Home/Index/">TAKAISIN ETUSIVULLE</a>
